@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-black;
  }
  body::-webkit-scrollbar {
    width: 0px;
  }

  body::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-black rounded-[6px] border-2 border-gray-500 border-solid;
  }
}

.bg-background {
  height: 100vh;
}

.bg-pattern {
  background-image: url('/pattern.jpg');
  background-repeat: repeat-x; 
  background-size: auto 100%; 
}

.bg-header {
  background-image: url('/castle.jpg');
  background-size: cover;
  background-position: center;
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
