@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-black;
  }
  body::-webkit-scrollbar {
    width: 0px;
  }

  body::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-black rounded-[6px] border-2 border-gray-500 border-solid;
  }
}

.bg-background {
  background-color: #2C2231;
}

.bg-pattern {
  background-image: url('/pattern.jpg');
  background-repeat: repeat-x; 
  background-size: auto 100%; 
}

.bg-header {
  background-image: url('/castle.jpg');
  background-size: cover;
  background-position: center;
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
}

.text-stroke-white {
  -webkit-text-stroke: 1px white;
}

@keyframes fillAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

@layer components {
  .animate-background {
    position: relative;
    color: black;
  }

  .animate-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #360F06 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    border-radius: 1rem;
    z-index: -1;
    transition: background-position 0.3s ease;
    pointer-events: none;
  }

  .animate-background:hover::before {
    background-position: -100% 0;
  }
}

@font-face {
  font-family: 'paper';
  src: url('/fonts/1942.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oldPaper';
  src: url('/fonts/OldNewspaperTypes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'toxType';
  src: url('/fonts/ToxTypewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}